:root {
  --primary : #751B08;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 1rem 0rem 1rem 2rem;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 6rem;
  gap: 2rem;
}

main  .upload-form {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
}

.upload-form form {
  line-height: 2rem;
}

.upload-form form input[type='submit']{
  background: var(--primary);
  color: white;
  border: none;
  padding: .5rem 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

.dowload-file {
  background: #dddddd;
  padding: 1rem;
}

.dowload-file .files {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.dowload-file .files a{
  text-decoration: none;
  color: var(--primary);
  display: flex;
  align-items: center;
}

.dowload-file .files a span{
  padding-top: 1rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(174, 170, 170, .5);
  position: absolute;

}
.loader > div {
  height: 100px;
  width: 100px;
  border: 1rem solid  gray;
  border-top-color: rgb(47, 47, 100);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
  
}

.stats {
  border: 1px solid grey;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

ul {
  list-style-type: none;
}

.stats h2 {
  background: var(--primary);
  margin: 0;
  width: 100%;
  padding: .8rem 1rem;
  color: white;
  font-weight: bold;
}

.stats ul li {
  line-height: 2rem;
  padding: .5rem 1rem;
}

.stats ul li:nth-child(even) {
  background: #aaaaaa;
}

.stats ul li span {
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-left: 1rem;
}

footer {
  background: var(--primary)  ;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem 1rem;
  color:aliceblue;
  text-align: center;
}