* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
   
}

header {
  padding: 1rem 0rem 1rem 2rem;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 6rem;
  gap: 2rem;
}

main  .upload-form {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
}

.upload-form form {
  line-height: 2rem;
}

.upload-form form input[type='submit']{
  background: #ff4d4d;
  color: white;
  border: none;
  padding: .5rem 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

.dowload-file {
  background: #dddddd;
  padding: 1rem;
}

.dowload-file .files {
  padding-top: 1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.dowload-file .files img {
  align-self: flex-start;

}

.dowload-file .files a{
  text-decoration: none;
  color: #ff4d4d;
}

.dowload-file .files a span{
  padding-top: 1rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(174, 170, 170, .5);
  position: absolute;
  /* display: none; */

}
.loader > div {
  height: 100px;
  width: 100px;
  border: 1rem solid  gray;
  border-top-color: rgb(47, 47, 100);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
  
}

.stats {
  border: 1px solid grey;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

ul {
  list-style-type: none;
}

.stats h2 {
  background: #ff4d4d;
  margin: 0;
  width: 100%;
  padding: .8rem 1rem;
  color: white;
  font-weight: bold;
}

.stats ul {
  /* padding: 1rem; */
}

.stats ul li {
  line-height: 2rem;
  padding: .5rem 1rem;
}

.stats ul li:nth-child(even) {
  background: #aaaaaa;
}

.stats ul li span {
  /* background: #4d82f4; */
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-left: 1rem;
}