<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <select name="" id="select-file">
    {% for file in files%}
      <option value="" ></option>
      <option value="">{{file}}</option>
    {% endfor %}
  </select>
  <iframe src="" frameborder="0" id="iframe"></iframe>
  <script>
    const file = document.querySelector('#select-file');
    const iframe = document.querySelector('#iframe')
    file.addEventListener('change', (e)=> {
      const val = e.target.selectedOptions[0].text;
      iframe.setAttribute('src', val);
    })
  </script>
</body>
</html>