<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="title">
      <img src="static/images/logo.jpg" alt="">
    </div>
  </header>
  <main>
    <form method="post" action="/" enctype="multipart/form-data">
      <!-- upload of a single file -->
      <p>
        <label>Add file (single): </label><br/>
        <input type="file" name="file"/>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>

    {% for file in files %}
      <a href={{file}} download>{{file}}</a>
    {% endfor %}
  </main>
  
  <!-- <select name="" id="select-file">
    {% for file in files%}
      <option value="" ></option>
      <option value="">{{file}}</option>
    {% endfor %}
  </select>
  <iframe src="" frameborder="0" id="iframe"></iframe>
  <script>
    const file = document.querySelector('#select-file');
    const iframe = document.querySelector('#iframe')
    file.addEventListener('change', (e)=> {
      const val = e.target.selectedOptions[0].text;
      iframe.setAttribute('src', val);
    })
  </script> -->
</body>
</html>